import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';
<% if (styling === 'tailwind') { %>
import tailwindcss from '@tailwindcss/vite';
<% } %>

export default defineConfig({
  plugins: [
    react(),
<% if (styling === 'tailwind') { %>    tailwindcss(),
<% } %>  ],
  server: {
    port: 5173,
    proxy: {
      '/trpc': 'http://localhost:3000',
      '/api': 'http://localhost:3000',
    },
  },
});
