{
  "productName": "<%= projectName %>",
  "version": "0.0.0",
  "identifier": "com.<%= projectName %>.app",
  "build": {
    "beforeDevCommand": "cd ../web && pnpm dev",
    "devUrl": "http://localhost:5173",
    "beforeBuildCommand": "cd ../web && pnpm build",
    "frontendDist": "../web/dist"
  },
  "app": {
    "title": "<%= projectName %>",
    "windows": [{ "title": "<%= projectName %>", "width": 1200, "height": 800 }]
  }
}
