{
  "expo": {
    "name": "<%= projectName %>",
    "slug": "<%= projectName %>",
    "version": "1.0.0",
    "scheme": "<%= projectName %>",
    "platforms": ["ios", "android"],
    "plugins": ["expo-router"]
  }
}
